venv
*.pyc
.env
.DS_Store
data/temp_data.xlsx
MDAPy/Saved_Files/*/*.svg
MDAPy/Saved_Files/*/*.png
MDAPy/Saved_Files/*/*.tiff
MDAPy/Saved_Files/*/*.jpg
MDAPy/Saved_Files/*/*.pdf
MDAPy/Saved_Files/*/*.jpeg
dev/
venv/
*.pyc
*.DS_Store
assets/plots/*/*.png
assets/plots/*/*.svg
assets/plots/*/*.tiff
MDAPy/Data/~*
