venv
*.pyc
.env
.DS_Store
data/temp_data.xlsx
assets/plots/*/*.svg
assets/plots/*/*.tiff
assets/plots/*/*.png
MDAPy/Saved_Files/All_MDA_Methods_Plots/*.svg
MDAPy/Saved_Files/All_MDA_Methods_Plots/*.png
MDAPy/Saved_Files/All_MDA_Methods_Plots/*.tiff
dev/
