html, body {
    background-color: #F8F8F9;
    font-size: .85rem;
}

.card-header{
    background-color: #FFFFFF;
}

.input-row{
    align-items: center;
    margin-bottom: 10px;
}

.inputNumbers {
    width: 35%;
    /* font-size: 14px; */
}
.inputCte {
    width: 15%;
    /* font-size: 12px; */
}

.labelCte {
    /* font-size: 12px; */
}

#sample_selection {
    max-height: 11rem !important;
    height: 11rem !important;
}

.settings-menu{
    border: 1px solid rgba(0,0,0,.125);
    background-color: #FFFFFF;
    margin-top: 20px;
    /* margin-left: 5px; */
    padding: 20px;
    border-radius: 6px;
    /* min-width: 400px; */
    height: 100%;
}

.settings-buttons{
    margin-left: -35px;
}

.workbench{
    /* border: 1px solid rgba(0,0,0,.125); */
    /* background-color: #FFFFFF; */
    margin-top: 20px;
    /* margin-right: 20px; */
    /* padding-top: 25px; */
    /* padding-left: 25px; */
    border-radius: 6px;
    min-width: 400px;
}

input[type="radio"]{
  margin: 10px 10px 0 10px;
}

.Select-control{
    width: 97%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  text-align: end;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: end;
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #2e93a4;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.btn-primary {
    color: #fff;
    background-color: #2e93a4;
    border-color: #2e93a4;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #2e93a4;
    border-color: #2e93a4;
    box-shadow: 0 0 0 0.25rem rgb(99 202 198 / 24%);
}

.btn-primary:hover {
    color: #fff;
    background-color: #2e93a4;
    border-color: #2e93a4;
}

.btn-outline-primary {
    color: #2e93a4;
    border-color: #2e93a4;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2e93a4;
    border-color: #2e93a4;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #2e93a4;
    border-color: #2e93a4;
}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(99 202 198 / 24%);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2e93a4;
    border-color: #2e93a4;
}

.summary-cards {
    width: 29%;
    overflow-y: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    border-radius: 5px;
    border: 2px #dfdfdf solid;
    /* background-color: #f8f8f9; */
}

input[type=checkbox]{
    margin-right: 1rem;
}

.summary-cards > h5{
    background-color: #f8f8f9;
    padding:10px;
    text-align: center;
    border-bottom: 1pt solid #dfdfdf;
}

.summary-cards > div{
    padding-left: 2rem;
    max-height: 80%;
    overflow-y: auto;
}

.dash-table-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -1.75rem;
}

.dash-cell, .dash-header{
    font-size: 1rem;
    border-left: unset !important;
    border-right: unset !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.summary-cards > .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th{
    background-color: unset !important;
}

th {
    font-weight: bold !important;
}

#datatable-summary > .cell-table > tr {
    border-top: 1pt white solid !important;
}

#datatable-summary > .dash-spreadsheet-container.dash-spreadsheet > div > .dt-table-container__row > .dash-fixed-content > table > tbody > tr > th {
    border-top: 1pt white solid !important;
}

#plotting-dimensions > p {
    padding: 15px;
}

.button-method {
    height: 5rem;
    width: 29%;
    border-width: 2pt;
    font-weight: bold;
}

.accordion-body {
    padding: 1.5rem 2rem;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #82888a;
    background-color: #f8f8f9;
    border-color: #dfdfdf;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #82888a;
    background-color: #f8f8f9;
    border-color: #dfdfdf;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 6rem;
    height: 8rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    /* align-items: end; */
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .25;
    background-color:  #484848;
    transition: opacity .15s ease;
}

#data-upload > div {
    opacity: 1 !important;
}

.dash-default-spinner > div {
    background-color: #2e93a4 !important;
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: hue-rotate(316deg) brightness(1.25);
  }

  input[type="radio"] { /* change "blue" browser chrome to yellow */
      filter: hue-rotate(316deg) brightness(1.25);
    }

.carousel-item > .w-100 {
    width: 75% !important;
}

.carousel-item {
    text-align: -webkit-center;
}

#sample_all {
    font-size: 1.15rem;
    margin-top: -1.5rem;
}

#tab {
    overflow-x: auto;
    margin-bottom: 20px;
}

.tab {
    padding: 1rem !important;
    display: inline-table !important;
}

.tab--selected {
    border-top: 2px solid #2e93a4 !important;
    margin-bottom: 20px;
}

#filetype-dropdown {
    width: 15em;
}

.accordion {
    font-size: 1.25rem;
}

.export {
    border-color: #2e93a4;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #2e93a4;
    border-color: #2e93a4;
    margin-bottom: 1rem;
}

.export:hover {
    color: #fff;
    background-color: #2e93a4;
    border-color: #2e93a4;
}

.column-header-name {
    margin: 1rem;
}

.carousel-indicators {
    bottom: -1.5rem !important;
}
